<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}"><span aria-hidden="true">&larr;</span></a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}"
        ><span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="row">
  {% if request.url_rule|string == url_for('notepads')|string %}
    <div class="col-xs-6 col-md-3">
      {% include '_createNewNotepad.html' %}
    </div>
    {% endif %}
  {% for notepad in notepads %}
  <div class="col-xs-6 col-md-3">
    {% include '_notepad.html' %}
  </div>
  {% endfor %}
</div>
